* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, button {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.content {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.generate {
    padding: 10px;
    background-color: skyblue;
}

.colorBlock {
    width: 150px;
    height: 150px;
}